* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.grid table {
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 14px;
}

.grid tr {
    height: 35px;
    line-height: 35px;
}

.grid-header {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.grid-header-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.grid-header-scrollbar::-webkit-scrollbar {
    visibility: hidden;
}

.grid-header>table {
    width: 100%;
    background-color: #fff;
}

.grid-body>table {
    width: 100%;
    background-color: #f9f9f9;
}

.grid-header th {
    border: 1px solid #e9e9e9;
    border-collapse: collapse;
    font-size: 14px;
    font-weight: 700;
}

.grid-header th>div {
    height: 35px;
    overflow: hidden;
}

.grid-header th.grid-sort .sort-icon {
    display: inline-block;
    vertical-align: top;
    width: 19px;
    height: 19px;
    cursor: pointer;
}

.grid-header th.grid-sort .sort-icon:hover {
    box-shadow: #aaa 0px 0px 2px;
}

.grid-header th.grid-sort.grid-sort-asc .sort-icon {
    background-image: url(../img/sort_asc.png);
    position: relative;
    top: 10px;
}

.grid-header th.grid-sort.grid-sort-desc .sort-icon {
    background-image: url(../img/sort_desc.png);
    position: relative;
    top: 3px;
}

.grid-header th.grid-sort.grid-sort-none .sort-icon {
    background-image: url(../img/sort_none.png);
    position: relative;
    top: 8px;
}

.grid-sort-select {
    position: absolute;
    display: none;
    width: 55px;
    line-height: 25px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    z-index: 9999;
}

.grid-sort-select .grid-sort-item {
    padding-left: 8px;
}

.grid-sort-select .grid-sort-item:hover {
    background-color: #1A73E8;
    color: #fff;
}

.grid-body {
    overflow-y: scroll;
}

.grid-body tr {
    height: 35px;
}

.grid-body tr:hover {
    background-color: #F7E5A7 !important;
}

.grid-body tr:nth-child(2n+1) {
    background-color: #fcfcfc;
}

.grid-body tr:nth-child(2n) {
    background-color: #fff;
}

.grid-body tr:nth-child(1)>td {
    border-top: 0;
}

.grid-body td {
    text-align: center;
    overflow: hidden;
    border: 1px solid #f3f3f3;
}

.grid-body tr.grid-no-data {
    background-color: #fcfcfc !important;
}

.grid-body tr.grid-no-data td {
    font-style: italic;
    padding-left: 20px;
    text-align: left;
}

.grid-body td>div {
    height: 35px;
    overflow: hidden;
    position: relative;
}

.grid-footer {
    height: 35px;
}

.grid-footer>div {
    height: 35px;
}

.grid-footer>div select {
    height: 26px;
    line-height: 26px;
    margin-top: 5px;
    margin-right: 7px;
    width: 50px;
}

.page-first, .page-prev, .page-next, .page-last {
    padding: 5px;
    padding-left: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.page-first:hover, .page-prev:hover, .page-next:hover, .page-last:hover {
    border: 1px solid #ccc;
}

.page-first {
    background-image: url(../img/first.png);
}

.page-prev {
    background-image: url(../img/prev.png);
}

.page-next {
    background-image: url(../img/next.png);
}

.page-last {
    background-image: url(../img/last.png);
}

.page-disabled {
    opacity: 0.4;
}

.page-disabled:hover {
    border: 1px solid transparent;
}

.grid-footer .separator {
    height: 22px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #fff;
    margin: 1px;
}

.grid a:focus, .grid a:hover {
    color: #23527c;
    text-decoration: underline;
}

.grid a:active, .grid a:hover {
    outline: 0;
}

.grid a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}

.grid-checkbox {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    cursor: pointer;
    background-image: url(../img/check.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    position: absolute;
}

.grid-checkbox.grid-checked {
    background-image: url(../img/check.png);
    background-position: -20px 0;
    background-repeat: no-repeat;
}

.grid-select-row {
    background-color: #F7E5A7 !important;
}

.grid-body input, .grid-body select {
    width: 98%;
    height: 25px;
    outline: none;
    padding-left: 5px;
    border: 1px solid #aaa;
    transition: all 600ms;
}

.grid-body input:focus, .grid-body select:focus {
    outline: none;
    border: 1px solid #007ACC;
}